@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form>
    <input type="text" class="formulario_parqueadero" id="parqueadero" placeholder="Placa"/>
    <input type="text" class="formulario_parqueadero" id="parqueadero" placeholder="Cedula"/>
    <p>Afiliado:</p><input type="checkbox" class="formulario_parqueadero_check" id="parqueadero" />
</form>
