@model Parcial_parqueadero.Models.DB.Parquedero
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form>
    <input type="text" placeholder="Placa" class="formulario_parqueadero" />
    <input type="text" placeholder="Cedula" class="formulario_parqueadero" />
    <p>Afiliado:</p><input type="checkbox" class="formulario_parqueadero_check" />
</form>
